body {
    font-family: Arial, sans-serif;
    background-color:black;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#btn {
    background-color: white;
    border: none;
    color:black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}